[{edis, [% Accept connections on the specified ports, default for Redis is 6379.
    {listener_port_range, {6479,6479}},
    % The working directory.
    % The DB (or DBs) will be written inside this directory, if the backend needs it
    % Note that you must specify a directory here, not a file name.
    {dir, "db"},
    % If the server couldn't send a message in this interval, it closes the connection to the client
    {client_timeout, 35000},
    % Set the number of databases. The default database is DB 0, you can select
    % a different one on a per-connection basis using SELECT <dbid> where
    % dbid is a number between 0 and 'databases'-1
    {databases, 16},
    % Require clients to issue AUTH <PASSWORD> before processing any other
    % commands.  This might be useful in environments in which you do not trust
    % others with access to the host running redis-server.
    %
    % This should be undefined for backward compatibility and because most
    % people do not need auth (e.g. they run their own servers).
    %
    % Warning: since edis is pretty fast an outside user can try up to
    % 150k passwords per second against a good box. This means that you should
    % use a very strong password otherwise it will be very easy to break.
    {requirepass, undefined},
    % edis_backend implementation to use as the backend for edis
    {backend, {edis_eleveldb_backend, [{create_if_missing, true}]}}]},
    {lager, [
        {lager_console_backend, debug},
        {lager_console_backend, info},
        {error_logger_redirect, false},
        {crash_log, "log/erest_crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "log/debug.log"},
                {level, debug},
                {size, 1048576000},
                {date, "$D0"},
                {count, 10}
            ]}
        ]}
    ]},
    {esync_log, [
        {rest_url_path, "/rest/oplog/"},
        {rest_request_host, "127.0.0.1"},
        {rest_request_port, 8766},
        {rest_listen_port, 8766},
        {rest_worker_count, 20}
    ]},
    {sasl, [{errlog_type, all},
        {sasl_error_logger, {file, "log/edis.sasl.log"}}]}].
